.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}
.users{
  width: 20%;
  border: 2px solid grey;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  text-align: center;
}
.posts{
  margin: 0px 50px;
  background: beige;
  border-radius: 25px;
  border: 2px solid grey;
}